
* {
    font-family: "Helvetica", "Comic Sans MS", Arial, sans-serif;
}

body {
    margin: 0px;
    background-color: wheat;
}

#header {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#header h1 {
    color: white;
}

#header button {
    border: none;
    border-radius: 10px;
    height: 50%;
    width: 50px;
    color: white;
    background-color: #222;
}

#header button:hover {
    background-color: #111;
}


#grid {
    position: relative;
    background-color: #666;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;

    width: 380px;
    height: 450px;

    margin: 100px auto;

    border-radius: 8px;
}

.grid-row {
    background-color: rgba(1, 1, 1, 0);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.grid-cell {
    position: relative;
    width: 100%;
    border-radius: 8px;
    background-color: #444;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 4px solid grey;
    /*border-right: 3px solid grey;*/

    transition: 0.3s;
}

.grid-cell:hover {
    background-color: #404040;
}

.grid-cell-content {
    color: white;
    position: absolute;
    font-size: 48px;
}

.currentCell {
    border-bottom: 4px solid #FFF;

    animation-name: hoverFadeOut, hoverFadeIn;
    animation-duration: 0.6s;
    animation-iteration-count: infinite, 1;
    animation-direction: alternate;
    /*
    animation: fadeOut  1s steps(20, start) infinite;
    -webkit-animation: blink-animation 1s steps(20, start) infinite;

     */
}
@keyframes hoverFadeOut { to { border-bottom-color: #333; } }
@-webkit-keyframes hoverFadeOut { to { border-bottom-color: #333; } }
@keyframes hoverFadeIn { to { border-bottom-color: #FFF; } }
@-webkit-keyframes hoverFadeIn { to { border-bottom-color: #FFF; } }

.correctCell {
    background-color: rgb(70, 145, 17);
}

.closeCell {
    background-color: rgb(205, 165, 17);
}

#keyboard {
    position: relative;
    background-color: #666;
    padding: 5px;
    box-sizing: border-box;
    width: 560px;
    height: 190px;
    margin: 0px auto;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;

}

.keyboard-key {
    background-color: #444;
    width: 50px;
    height: 46px;
    border-radius: 8px;
    margin: 2px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s;

    border-bottom: 4px solid rgba(255, 255, 255, 0);
}

.keyboard-key-content {
    color: white;
    position: absolute;
    font-size: 12px;
}

.keyHover, .keyboard-key:hover {
    background-color: #333;
    border-bottom: 4px solid white;
}

.keyActive, .keyboard-key:active {
    background-color: #AAA;
}

